<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	  <br>
	  <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Jabatan
                    </div>
                    <div class="card-body">
                        <form th:action="@{/jabatan/update}" th:object="${newJabatan}" method="POST">
                            <input type="hidden" name="id" th:value="${jabatan.id}" />
                            Nama: <br>
                            <input type="text" name="nama" th:value="${jabatan.nama}" class="form-control" required/>
                            <br>
                            Deskripsi: <br>
                            <input type="text" name="deskripsi" th:value="${jabatan.deskripsi}" class="form-control" required/>
                            <br>
                           	Gaji Pokok: <br>
                            <input type="number" name="gajiPokok" th:value="${jabatan.gajiPokok}" class="form-control" required/>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>