<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>View Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br/>
	<div class="container-fluid">
		<div class="row">
			 <div class="col-md-6">
            	<div class="card">
            		<div class="card-header">
						<h4><b th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"> </b></h4>
					</div>
					<table class="table table-striped">
						<tbody>
							<tr>
								<td>Nama</td>
								<td th:text="${pegawai.nama}"></td>
							</tr>
							<tr>
								<td>Tempat Lahir</td>
								<td th:text="${pegawai.tempatLahir}"></td>
							</tr>
							<tr>
								<td>Tanggal Lahir</td>
								<td th:text="${pegawai.tanggalLahir}"></td>
							</tr>
							<tr>
								<td>Tahun Masuk</td>
								<td th:text="${pegawai.tahunMasuk}"></td>
							</tr>
							<tr>
						      <td>Instansi</td>
						      <td th:text="${instansi}">
						    </tr>
							<tr>
								<td>Jabatan</td>
								<td>
									<ul th:each="jabatan : ${listJabatan}">
										<li th:text="${jabatan.nama}"></li>
									</ul>
								</td>
							</tr>
						    <tr>
						      <td>Gaji</td>
						      <td th:text="'Rp. '+${gaji}">
						    </tr>
							
						</tbody>
					</table>
            	</div>
            	</div>
        	</div>
        	<br>
        	<div class="row">
        		<div class="col-md-6">
        		<form th:action="@{/pegawai/ubah}" method="GET">
					<input type="hidden" name="nip" th:value="${pegawai.nip}" />
					<button type="submit" class="btn btn-success btn-sm">Ubah</button>
				</form>
				</div>
        	</div>
     </div>
</body>
</html>